body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 15px;
}

body {
	background: #f2f0eb url(image/bg.png);
	font-family: 'Poppins', sans-serif; color: #636363; line-height: 24px;
}

#container {
	width: 960px; margin: 0 auto;
}

#logo {
	margin: 60px auto -30px auto; position: relative; width: 183px;
}

ul#nav {
	width: 940px; list-style: none; overflow: hidden; margin: -34px auto 25px auto;
}
	ul#nav li {
		width: 126px; height: 33px; float: left; padding: 13px 0 0 0;
		background: url(image/nav-bg.png);
		font-weight: bold; text-align: center; text-transform: uppercase;
	}
		ul#nav li:nth-child(1) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(2) {
			margin: 0 316px 0 0;
		}
		ul#nav li:nth-child(3) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(4) {
			margin: 0;
		}

		ul#nav li a {
			color: #616369; text-decoration: none;
		}
			ul#nav li a:hover {
				color: #a12121;
			}
		

			
#header {
	height: 244px; width: 885px; padding: 40px 0 50px 55px; margin-left: 10px;
	background: url(image/dr.jpg);
}

#header.page {
	height: 91px; padding: 52px 0 0 55px;
	background: url(image/header-page.jpg);
}


	#header h1 {
		font-family: 'Poppins', sans-serif; letter-spacing: 2px; margin: 0 0 20px 0;
		
	}
	#header h2 {
		width: 510px; font-family: 'Poppins', sans-serif; letter-spacing: 2px; margin: 200px 0 100px 150px;
		
	}
	
.hero-image{
			
			 background-image: linear-gradient(141deg, rgba(0, 0, 0, 0), rgba(0, 0.3, 0.3, 0.2)), url("image/hero.jpg");
			 background-position: fit;
			 background-repeat: no-repeat;
			 background-size: cover;
			 position: relative;
			 overflow:hidden;
			 margin-left:10px;
			 margin-right:10px;
}				
			
.hero-text{
			text-align: justify;
			
			color:Black;
			font-family: 'Poppins', sans-serif; letter-spacing: 2px; 
			margin: 50px 45px 45px 45px;
}



.center {
  margin-left: 150px;
  margin-right: auto;
  	
}

#content {
	background: url(image/content-bg.png) repeat-y;
	padding: 57px 69px 50px 69px; overflow: hidden;
}
	#content h2 {
		font-family: 'Poppins', sans-serif; letter-spacing: 2px; margin: 0 0 20px 0; 
	}

	#content h3 {
		font-family: 'Poppins', sans-serif; letter-spacing: 2px; margin: 0 0 20px 0; 
	}
	
	#content p {
		margin: 0 0 30px 0; text-align: justify;
	}
	
	
	#content a {
		color: #a12121; text-decoration: none; text-align: justify;
	}
		#content a:hover {
			color: #671111; text-align: justify;
		}


#footer {
	background: url(image/footer-bg.png) no-repeat; padding: 40px 0 0 0;
	overflow: hidden; margin: 0 0 30px 0;
}
	#footer p#copyright {
		font-size: 12px; float: left; margin: 0 0 0 30px; color: #b8b6b2;
	}
	#footer p#back-top {
		font-size: 12px; float: right; margin: 0 30px 0 0;
	}
		#footer a {
		color: #a12121; text-decoration: none;
	}
		#footer a:hover {
			color: #671111;
		}
